.SiteName {
  display: inline-block;
  font-size: 60px;
  font-weight: 100;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 70%;
  text-align: left;
  margin: 20px;
  margin-left: 10px;
  margin-right: 100px;
}

.SiteName:hover {
  transition: 1s ease;
  transform-origin: center center;
  transform: scale(1.03);
}

.PageTitle {
  font-size: large;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body {
  background-color: rgb(255, 246, 230);
  margin: 0;
  font-size: medium;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}


a {
  display: flex;
  text-decoration: none;
  letter-spacing: 3px;
  color: inherit;
  width: 100px;
}

a:hover {
  transition: 1s ease;
  transform: scale(1.03);
  color:rgb(146, 89, 56)
}

a.MyPage {
  margin-right: 2%;
}



.MyCategory {
  display: flex;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 30vw;
  float: right;

  margin-top: 80px;
  margin-bottom: 5px;

  justify-content: flex-end;
}

.header {
  display: flex;
  position: relative;
  background-color: rgb(255, 246, 230);
  border-image: linear-gradient(to right, rgb(255, 255, 255), rgb(169, 207, 223)) 1;;
  align-items: center;
  animation: waveGradient 1s ease infinite;
  z-index: 2;
}

.header img {
  margin-left: 110px;
  width: 110px;
  height: 110px;
}

.header::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(to right, rgb(255, 246, 230), rgb(146, 89, 56)); /* 그라데이션 배경 */
  background-size: 400% 100%;
  animation: gradientMove 2s linear infinite;
  z-index: 1;
}


.content {
  margin-left: 260px;
  padding: 20px;
  position: relative;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  z-index: 1;
}


.SideBarBox {
  display: flex;
  position: fixed;
  width: 260px;
  height: 100vh;
  padding-top: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  z-index: 3;
}

.box {
  display: flex;
  width: 40px;
  height: 50px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;  
  background-color: rgb(146, 86, 51);
  box-shadow: 0 4px 9px rgb(37, 19, 8);

  text-decoration: none;
  color: rgb(0, 0, 0);
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: all 0.3s ease;

  transition: background-color 0.1s ease;
  transition: width 0.4s ease;
}

.box a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: scale(0.8);
}

.box:hover {
  width: 250px;
  background-color: rgb(119, 70, 41);
}

.box:hover a{
  opacity: 1;
  transform: scale(1.2);
  color:rgb(255, 246, 230);
  transition: opacity 1s ease, transform 0.3s ease;
}

.box.active {
  background-color: rgb(119, 70, 41);
}

#ToDoList {
  display: grid;
  gap: 10px;
  margin-top: 10px;
}


.taskItem {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(146, 86, 51);
  transition: transform 1s ease, opacity 0.2s ease;
}

.taskItem.deleted {
  transform: translateX(50%);
  opacity: 0;
}

.taskItem.checked .List {
  text-decoration:line-through 1.5px;
  text-decoration-color: rgb(146, 86, 51);
}


.checkbox {
  display: none;
}

.checkbox + .customCheckbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(146, 86, 51);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.2s;
}

.checkbox:checked + .customCheckbox {
  background-color: rgb(146, 86, 51); 
  border-color: rgb(146, 86, 51);
}

.checkbox:checked + .customCheckbox::after {
  content: '✔';
  position: absolute;
  left: 5px;
  top: 0px;
  color: white;
  font-size: 14px;
  line-height: 20px;
}


.input {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 2px solid rgb(146, 86, 51);
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: rgb(146, 89, 56);
}


.addButton {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: rgb(146, 86, 51);
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.addButton:hover {
  background-color: rgb(109, 65, 39);
  transform: scale(1.03);
}

.ToDoDeleteButton {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #df7e58;
  border: none;
  border-radius: 8px;
  justify-self: end;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.ToDoDeleteButton:hover {
  background-color: #cf6348;
  transform: scale(1.04);
}


.List {
  margin-right: 20px;
}


.MemberInput {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 2px solid rgb(146, 86, 51);
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}


.MemberList {
  background-color: #fff;
  display: inline-block;
  width: 380px;
  height: 400px;
  padding: 0 10px;
  border:rgb(109, 65, 39) solid 1px;
  border-radius: 10px;
  text-align: left;
}


.MemberDeleteButton {
  display: flex;
  float: right;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 50px;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #df7e58;
  border: none;
  border-radius: 8px;
  justify-self: end;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.MemberDeleteButton:hover {
  background-color: #cf6348;
  transform: scale(1.04);
}


.MemberItem {
  border-bottom: rgb(109, 65, 39) solid 1px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}



#Calculator {
  border: rgb(255, 219, 175) solid 2px;
  table-layout: fixed;
  border-radius: 10px;
  padding: 5px;
  margin-top: 100px;
  width: 230px;
  height: 300px;
  background-color: bisque;
  box-shadow: 0 5px 10px rgb(126, 100, 70);
}


.CalInOut {
  position: relative;
  width: 100%;
  height: 35px;
  border: rgb(146, 86, 51) solid 1.5px;
  border-radius: 10px;
  text-align: left;
  font-size: 20px;
  font-family:'Franklin Gothic Narrow', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
  background-color: rgb(255, 245, 230);
  color: rgb(80, 50, 30);
  box-shadow: inset 0 0 5px rgb(126, 100, 70);
  padding: 0 8px;
  width: 100%;
}


.CalculatorKey {
  width: 10px;
  height: 40px;
  background-color: rgb(146, 86, 51);
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-family:'Franklin Gothic Narrow', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  cursor: pointer;
}

.CalculatorKey:hover {
  transition: background-color 0.3s ease;
  background-color: rgb(100, 56, 31);
}


.ClearButton {
  background-color: #df7e58;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.ClearButton:hover {
  transition: background-color 0.3s ease;
  background-color: #cf6348;
}



@keyframes sizeup {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}